@import-normalize;

@font-face {
  font-family: "montserratextrabold";
  src: url("./Assets/Fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
    url("./Assets/Fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratthin";
  src: url("./Assets/Fonts/montserrat-thin-webfont.woff2") format("woff2"),
    url("./Assets/Fonts/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
